<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.w3.org/MarkUp/SCHEMA/xhtml11.xsd"
	xml:lang="en">
	<head>            
    <title><%= hostname %></title>
	</head>
	<body>
    <h1><%= hostname %></h1>

    <table>
      <tr><td>MAC</td><td><%= macaddress %></td></tr>
      <tr><td>IP</td><td><%= ipaddress %></td></tr>
      <tr><td>memorysize</td><td><%= memorysize %></td></tr>
      <tr><td>drifter project</td><td><%= drifter_project %></td></tr>
      <tr><td>drifter user</td><td><%= drifter_user %></td></tr>
      <tr><td>drifter instance</td><td><%= drifter_instance %></td></tr>
    </table>
	</body>
</html>

